@media screen and (max-width : 600px) {
    .header {
        padding: 12px;
    }

    .text {
        background-color: red;
        color: black;
    }

    .sub-container {
        font-size: 50px;
        line-height: 60px;
        color: black;
    }

    .container {
        min-height: 50%;
    }

    .sub-container-2 {
        flex-direction: column;
        gap: 10px;
    }

    .span-container {
        padding: 3rem;
    }

    .main-sub-container>p,
    .main-sub-container-2,
    .main-image-container {
        width: 80%;
    }

    .footer {
        padding: 2rem;
    }
}
@media screen and (min-width : 601px) and (max-width : 1024){
    .sub-container{
        font-size: 70px;
        line-height: 80px;
    }
    .span-container{
        padding: 3.5rem;
    }
    .container{
        min-height: 60%;
    }
    .main-sub-container>p,
    .main-sub-container-2,
    .main-image-container {
        width: 80%;
    }
    .footer {
        padding: 3rem;
    }
}
